    <div class="general-well1">
      <p class="lead">Contact Us</p>
      <br>
      
        
          <p>Questions: &nbsp <a href=mailto:info@wheresho.me>info@wheresho.me</a></p>
          <br><br>
          <p>Comments and Feedback: &nbsp <a href=mailto:questions@whereho.me>questions@wheresho.me</a></p>
        
        <hr><br>
        <div class="map">

          <iframe width="400" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Microsoft+New+England+Research+and+Development+Center,+Memorial+Drive,+Cambridge,+MA&amp;aq=0&amp;oq=microsoft,+cam&amp;sll=42.37839,-71.114729&amp;sspn=0.078748,0.154324&amp;t=h&amp;ie=UTF8&amp;hq=Microsoft+New+England+Research+and+Development+Center,&amp;hnear=Memorial+Dr,+Cambridge,+Massachusetts&amp;ll=42.361316,-71.081309&amp;spn=0.006586,0.076454&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Microsoft+New+England+Research+and+Development+Center,+Memorial+Drive,+Cambridge,+MA&amp;aq=0&amp;oq=microsoft,+cam&amp;sll=42.37839,-71.114729&amp;sspn=0.078748,0.154324&amp;t=h&amp;ie=UTF8&amp;hq=Microsoft+New+England+Research+and+Development+Center,&amp;hnear=Memorial+Dr,+Cambridge,+Massachusetts&amp;ll=42.361316,-71.081309&amp;spn=0.006586,0.076454" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
        <div class="logo">
        <%= image_tag "logo2.jpg", alt: "Logo", width: 350, height: 250 %>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
    
  </div>
