<div class="navbar"><a href="index.html" class="navbar brand">Home is Here!</a>
        <div class="navbar-inner">
          <div class="container">   
            <div class="nav-collapse collapse">

              <button type="submit" class="btn btn-small pull-right">Sign Out</button>
              <ul class="nav pull-right">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>   
          </div>
        </div>
      </div>
    <br>
      
    <div class="general-well">
      <p class="lead">Contact Us</p>
      <br>
      <div class="well">
        
          <p>Questions: &nbsp <a href=mailto:info@wheresho.me>info@wheresho.me</a></p>
          <br><br>
          <p>Comments and Feedback: &nbsp <a href=mailto:questions@whereho.me>questions@wheresho.me</a></p>
        
        <hr><br>
        <div class="map">

          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Microsoft+New+England+Research+and+Development+Center,+Memorial+Drive,+Cambridge,+MA&amp;aq=0&amp;oq=microsoft,+cam&amp;sll=42.37839,-71.114729&amp;sspn=0.078748,0.154324&amp;t=h&amp;ie=UTF8&amp;hq=Microsoft+New+England+Research+and+Development+Center,&amp;hnear=Memorial+Dr,+Cambridge,+Massachusetts&amp;ll=42.361316,-71.081309&amp;spn=0.006586,0.076454&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Microsoft+New+England+Research+and+Development+Center,+Memorial+Drive,+Cambridge,+MA&amp;aq=0&amp;oq=microsoft,+cam&amp;sll=42.37839,-71.114729&amp;sspn=0.078748,0.154324&amp;t=h&amp;ie=UTF8&amp;hq=Microsoft+New+England+Research+and+Development+Center,&amp;hnear=Memorial+Dr,+Cambridge,+Massachusetts&amp;ll=42.361316,-71.081309&amp;spn=0.006586,0.076454" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
        <div class="logo">
        <%= image_tag "logo2.jpg", alt: "Logo", width: 350, height: 270 %>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  <br><br>
    <div class="foot-container">
      <div class="footer footer-well">
          <div class="span3">
            <div class="foot-logo">
            <%= image_tag "logo2.jpg", alt: "Logo", width: 110, height: 80 %>
            </div>
          </div>
          <div class="span5 align-center"><br>
            <p><a href="index.html">Home</a> &nbsp | &nbsp <a href="about.html">About</a> &nbsp | &nbsp <a href="contact.html">Contact Us</a></p>
            <p>Where's Home? All Rights Reserved 2012</p>
            <br>
          </div>
      </div>
    </div>