<div class="land-back">
  <div class="banner">
    <div class="hero-unit">
      <div class="land-container">
        <h1 class="align-center">Where's Home?</h1>
            <br>
            <p style="color:white">I am a...</p>
            <div class="main-pics">
              <a href="renter" class="thumbnail pull-left">
                <%= image_tag "renter.jpg", alt: "Renter", width: 300, height: 200 %>
              </a>
         
              <a href="landlord" class="thumbnail pull-right">
                <%= image_tag "landlord.jpg", alt: "Landlord", width: 300, height: 200 %> 
              </a>
            </div>
            
      </div>
    </div>
    
    <br>

    <div class="row-fluid land-footer">
      <a href="about.html"><button class="btn btn-large pull-right" style="width:250px; margin-right:40px; margin-bottom:120px"><b>About Us &raquo<b></button></a>
      <div class="logo-land">
        <%= image_tag "logo2.jpg", alt: "Logo", width: 110, height: 80 %>
      </div>
  </div>
</div>