<div class="banner">
  <div class="land-photos">
    <div class="hero-unit">
      <div class="land-container">
        <p class="lead">Welcome to</p>
        <h1 class="align-center">Where's Home</h1>
        

      
          <a href="#" class="btn btn-info btn-block btn-primary btn-large">Renter</a>

      
          <a href="#" class="btn btn-info btn-large btn-block btn-primary">Landlord</a>


     
      </div>
    </div>
  </div>
</div>