<h1 style="margin-left:20px">New Property</h1>
<br>
<hr>
<p style="margin-left:20px">Fill out the form below to submit a new rental property.</p>

<%= render 'form' %>

<%= link_to 'Back to Property Listings', properties_path %>
